@import 'normalize';

@font-face {
    font-family: 'Caf Franoise';
    src: url('../font/Caf Franoise.otf') format('opentype');

    font-weight: normal;
    font-style: normal;
}

$basicColor: #f7bd00;
$basicFont: "PT Serif", sans-serif;

// Customize

body {    
    background-color: #000;
    width: 100%;
}

// Start header top

.header {
    background-repeat: no-repeat;
    background-size: 100%;    
    
    max-width: 1400px;
    height: 100vh;
    margin: 0 auto;  
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    width: 920px;
    margin: 0 auto;   
    padding: 20px 20px 126px;  
}

.header__logo {
    position: relative;
}

.logo__brush{
    position: absolute;
    top: 0px;    
}

.logo__text {
    font-family: 'Caf Franoise', sans-serif;
    font-size: 22px;
    color: $basicColor;

    width: 102px;

    position: absolute;
    top: -3px;
    left: 16px;
}

// End header top

.header__caption {
    font-family: $basicFont;
    font-style: italic;
    font-size: 20px;
    color: $basicColor;

    text-align: center;
}

.header__title {
    font-family: 'Caf Franoise', sans-serif;
    font-style: normal;
    font-size: 60px;
    font-weight: 400;
    color: $basicColor;

    text-align: center;
    margin: 18px 0;    
}

.header__line {
    text-decoration: line-through;
}

// Header button

.header__button {
    display: flex;
    width: 162px;
    height: 26px;

    font-family: $basicFont;
    font-style: normal;
    font-size: 12px;
    text-transform: uppercase;
    color: $basicColor;

    border: 2px solid $basicColor;
    border-radius: 5px;

    margin: 0 auto;
    margin-bottom: 104px;
}

.button__text { 
    padding: 7px 11px 4px;

    text-align: center;
    white-space: nowrap;

    border-right: 2px solid $basicColor;
}

.button__icon {
    padding: 6px 9px;    
}

// Header pagination

.header__pagination {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-size: 10px;
    color: $basicColor;

    margin-bottom: 47px;
}

.pagination__prev {
    display: flex;
}

.prev__svg-left {
    margin-top: 1px;
}

.pagination__counter {
    margin: 0 23px 0 20px;

    color: #8b6c00;    
        &--active {
            color: $basicColor;
        }
}

.pagination__next {
    display: flex;
}

.next__svg-right {
    margin-top: 1px;
}

// End Header pagination

.header__btn-down {
    text-align: center;
    color: $basicColor;
}

// GRADIENT

.gradient {
    height: 20px;
    background-image: linear-gradient(#0E0E0E, #000000);

    max-width: 1400px;
    margin: 0 auto;
}

// HERO SECTION

.hero {
    position: relative;
    top: -20px;

    max-width: 1400px;
    margin: 0 auto;
}

.hero__image {
    display: flex;    
    justify-content: space-between;  
}

.image__item {
    height: 492px;
}

.hero__inner {    
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);    
    width: 712px;
    height: 512px;
    
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
    background-color: white;
    background-image: url('../img/martin.webp');
    background-size: contain;
    background-repeat: no-repeat;
}

.hero__content {
    position: absolute;
    top: 0;    
    left: 50%;
    transform: translate(0, 50%);

    width: 245px;
    height: 172px;

    padding: 45px 20px;

    background-color: $basicColor;    
}

.hero__title {
    padding: 0;
    margin: 0;

    font-size: 30px;
    font-family: $basicFont;
    font-style: italic;
}

.hero__subtitle {
    padding: 0;
    margin: 16px 0;   

    font-size: 13px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}

.hero__text {
    font-family: $basicFont;    
    font-size: 9px;

    line-height: 20px;
}

.btn {
    display: inline-flex;    
    
    border: 1px solid #000;
    border-radius: 6px;

    background-color: rgba(247, 223, 90, 0.5);  
}

.btn__text {
    font-size: 12px;
    font-family: $basicFont;
    text-transform: uppercase;

    padding: 6px 10px 0;

    border-right: 1px solid #000;
}

.btn__icon {    
    padding: 6px 10px 0;
}