@import 'normalize';

@font-face {
    font-family: 'Caf Franoise';
    src: url('../font/Caf Franoise.otf') format('opentype');

    font-weight: normal;
    font-style: normal;
}

$basicColor: #f7bd00;
$basicFont: "PT Serif", sans-serif;

// Customize

body {    
    background-color: #000;
    width: 100%;
}

// Start header top

.header {
    background-repeat: no-repeat;
    background-size: 1920px;
    background-color: #101010;     
    
    max-width: 1920px;
    height: 1080px;
    margin: 0 auto;  
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    width: 1840px;
    margin: 0 auto;   
    padding: 40px 40px 277px;  
}

.header__logo {
    position: relative;
}

.logo__brush{
    position: absolute;
    top: 18px;    
}

.logo__text {
    font-family: 'Caf Franoise', sans-serif;
    font-size: 44px;
    color: $basicColor;

    width: 204px;

    position: absolute;
    top: 14px;
    left: 34px;
}

.header__menu {
    margin-right: 5px;
}

// End header top

.header__caption {
    font-family: $basicFont;
    font-style: italic;
    font-size: 40px;
    color: $basicColor;

    text-align: center;
}

.header__title {
    font-family: 'Caf Franoise', sans-serif;
    font-style: normal;
    font-size: 119px;
    font-weight: 400;
    color: $basicColor;
    letter-spacing: 4px;

    text-align: center;
    margin: 20px 0;    
}

.header__line {
    text-decoration: line-through;
}

// Header button

.header__button {
    display: flex;
    width: 328px;
    height: 51px;

    font-family: $basicFont;
    font-style: normal;
    font-size: 25px;
    text-transform: uppercase;
    color: $basicColor;

    border: 3px solid $basicColor;
    border-radius: 10px;

    margin: 0 auto;
    margin-bottom: 200px;
}

.button__text { 
    padding: 10px 22px 10px;

    text-align: center;
    white-space: nowrap;

    border-right: 3px solid $basicColor;
}

.button__icon {
    padding: 10px 10px;    
}

// Header pagination

.header__pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 18px;
    font-family: $basicFont;
    color: $basicColor;

    margin-bottom: 80px;
}

.pagination__prev {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70px;
    height: 14px;
}

.prev__svg-left {
    margin-top: 4px;
}

.pagination__counter {
    margin: 0 45px 0 40px;
    letter-spacing: 4px;

    color: #8b6c00;    
        &--active {
            color: $basicColor;
        }
}

.pagination__next {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70px;
    height: 14px;
}

.next__svg-right {
    margin-top: 4px;
}

// End Header pagination

.header__btn-down {
    text-align: center;
    color: $basicColor;
    padding-bottom: 40px;
}

// GRADIENT

.gradient {
    height: 70px;
    background-image: linear-gradient(#0E0E0E, #101010);

    max-width: 1920px;
    margin: 0 auto;
}

// HERO SECTION

.hero {
    position: relative;
    top: 0;

    max-width: 1920px;
    height: 968px;
    margin: 0 auto;

    background-color: #101010;
}

.hero__image {    
    display: flex;    
    justify-content: space-between;
    align-items: flex-end;        
    height: 100%;    
}

.image__item {
    max-height: 977px;
}

.hero__inner {    
    position: absolute;
    top: -56px;
    left: 50%;
    transform: translate(-50%);    
    width: 1423px;
    height: 1024px;
    
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    
    background-color: white;
    background-image: url('../img/martin.webp');
    background-size: cover;
    background-repeat: no-repeat;
}

.hero__content {
    position: absolute;
    top: -7px;    
    left: 50%;
    transform: translate(0, 50%);

    width: 490px;
    height: 360px;

    padding: 80px 40px;

    background-color: $basicColor;    
}

.hero__title {
    padding: 0;
    margin: 0;

    font-size: 60px;
    font-family: $basicFont;
    font-style: italic;
}

.hero__subtitle {
    padding: 0;
    margin: 30px 0 25px;   

    font-size: 25px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    letter-spacing: 0;
}

.hero__text {
    font-family: $basicFont;    
    font-size: 19px;

    line-height: 40px;
    margin-bottom: 32px;
}

.btn {
    display: inline-flex;    
    
    border: 3px solid #000;
    border-radius: 10px;

    background-color: rgba(247, 223, 90, 0.5);  
}

.btn__text {
    font-size: 25px;
    font-family: $basicFont;
    text-transform: uppercase;

    padding: 8px 21px;

    border-right: 3px solid #000;
}

.btn__icon {    
    margin: 8px 14px;
}

// Event Section

.event {
    position: relative;
    max-width: 1920px;
    height: 1207px;
    margin: 0 auto;

    background-color: #202020;    
}

.img {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.img__item-left {
    align-self: flex-end;

    &--opacity {
        opacity: 0.87;
    }
}

.event__main {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 1132px;
    top: 110px;
    left: 50%;
    transform: translate(-50%);

    color: #fff;
}

.heading {
    font-family: $basicFont;
    font-size: 36px;
    letter-spacing: 1px;

    &::after {
        content: "";
        display: block;
        border-bottom: 3px solid white;
        width: 30px;
        margin-top: 10px;
    }
}

.event__content {
    width: 742px;
    font-size: 18px;
}

.event__text {
    margin-top: 0;
    margin-bottom: 28px;
    line-height: 26px;

    font-family: $basicFont;
    font-size: 16px;
}

.event__data {
    margin-top: 48px;

    font-family: $basicFont;
    font-size: 26px;
    font-weight: 700;
    color: #f7ce2d;
}

.event__time {
    margin-left: 20px;

    font-size: 19px;
}

.event__list {
    position: relative;
    font-family: $basicFont;
    font-size: 19px;
    line-height: 30px;
    top: 5px;
    left: -10px
}

.event__item {    
    margin-top: 18px;
    
    &:first-child {
        margin-bottom: 50px;
    }
}

.event__item-inner {
    position: absolute;
    left: 50px;
}

// Event Registion

.event__form-wrap {
    position: absolute;
    top: 680px;    
    left: 50%;
    transform: translate(-50%);
    width: 762px;
    height: 619px;

    background-color: $basicColor;
}

.event__form-title {
    margin-top: 63px;
    margin-bottom: 0;

    text-align: center;
    color: #010100;
    font-family: Lato;
    font-size: 36px;
    font-weight: 700;
}

.event__form-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    margin: 0 45px 0 44px;
}

.event__form-item {
    display: flex;
    flex-direction: column;
    
    font-family: $basicFont;
    font-weight: 700;
    font-size: 19px;

    margin: 35px 0 0 0;
}

.event__form-caption {
    margin-bottom: 12px;
}

.event__form-cell {
    width: 304px;
    height: 48px;

    border: 3px solid;
    border-radius: 10px;

    background-color: #dca800;

        &:placeholder-shown {
            padding: 0 0 0 10px;
        }

        &::placeholder {
            font-size: 16px;
            font-style: italic;
            opacity: 0.5;
            color: #010100;
        }
}

.event__form-select {
    width: 324px;
}

.event__btn-wrap {
    text-align: center;

    margin-top: 32px;
}

